
button{
    cursor: pointer;
    background-color: inherit;
         transition: transform .1s ease-in-out;
}

button:hover{
    transform:scale(1.05);
}

.header{
    display: flex;
    align-items: center;
}
.nav-bar{
    position: relative;
    padding-top: 51px;
    width: 100%; 
    height: 100%;
    justify-content: center; 
    align-items: center; 
    gap: 58px; 
    display: inline-flex;
   
}

.logo{
    position: relative;
    top: 25px;
    left: 120px;
}
   

.nav-bar a{
    text-decoration: none;
    color: black; 
    font-size: 18px; 
    font-family: Josefin Sans; 
    font-weight: 700; 
    word-wrap: break-word
}


.features{
    color: black; 
    font-size: 18px; 
    font-family: Josefin Sans; 
    font-weight: 700; 
    word-wrap: break-word
}

.news{
    width: 46px; 
    height: 21px; 
    color: black; 
    font-size: 18px; 
    font-family: Josefin Sans; 
    font-weight: 700; 
    word-wrap: break-word

}

.contactUs{
    width: 98px; 
    height: 23px; 
    color: black; 
    font-size: 18px; 
    font-family: Josefin Sans; 
    font-weight: 700; 
    word-wrap: break-word

}

.settings{
    color: black; 
    font-size: 18px; 
    font-family: Josefin Sans; 
    font-weight: 700; 
    word-wrap: break-word
}

.btn-section{
    display: flex;
    position: relative;
    top: 25px;
    right: 120px;
    align-items: center;
    gap: 20px;
    
}

.btn-swiftmode{ 
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 20px;
    background-color:  rgb(144, 199,255);
    border: 0px;
    padding-left: 5px; 
    padding-bottom: 5px; 
}

.btn-login{
    width: 87px;
    height: 38px;
    border-radius: 20px;
    background-color: rgb(85, 239,196);
    border: 0px;

}

.btn-signup{
    width: 102px;
    height: 38px;
    border-radius: 20px;
    background-color: rgb(85, 239,196);
    border: 0px;
}

.sec-search{
    position: relative;
    top: 70px;
    left: 290px;
    display: flex;
    max-width: 880px;
    align-items: center;
}

.sec-search input{
    height: 40px;
    border-radius: 12px;
}

.sec-search button{
    position: relative;
    left: 80 px;
    border-radius: 12px;
}

.sec-current-weather{
    width: 800px;
    height: 287px;
    position: relative;
    top: 90px;
    left: 140px;
    background-color: #D9D9D9;
    border-radius: 12px;
}

.sec-current-weather .cw-1{
    position: relative;
    top: 25px;
    left: 27px;
}

.sec-current-weather .cw-1 img{
    position: relative;
    top: 9px;
    left: 11px;
}

.sec-current-weather .cw-2 h3{
    position: relative;
    left: 24px;
    top: 32px;
}

.sec-current-weather .cw-2 p{
    position: relative;
    left: 25px;
    top: 25px;
}

.sec-current-weather .cw-2 .value{
    position: relative;
    top: 20px;
    left: 37px;
    font-size: 26px;
    font-weight: bold;
}

.sec-current-weather .w-value{
    width: 161px;
    height: 75px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    background-color:rgb(229, 229, 233);
         transition: transform .1s ease-in-out;
}

.sec-current-weather .w-value:hover{
    transform:scale(1.3);
}

.sec-current-weather .w-value h5 {
    position: relative;
    left: 18px;
    top: 8px;
    font-size: 15px;
}

.sec-current-weather .w-value img{
    position: relative;
    left: 18px;
    bottom: -12px;
}

.sec-current-weather .w-value .cw-value{
    position: relative;
    bottom: 18px;
    left: 85px;

}

.sec-current-weather .container{
    position: relative;
    left: 210px;
    top: -190px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-auto-rows: 4.5em;
    grid-gap: 35px;
}

.currentWeather{
    width: 82px;
    height: 82px;
}

.forecast-weather{
    position: relative;
    left: 960px;
    top: -195px;
    width: 350px;
    height: 669px;
    background-color: #D9D9D9;
    border-radius: 12px;
}

.current-day{
    width: 800px;
    height: 368px;
    position: relative;
    left: 140px;
    top: -560px;
    background-color:#D9D9D9;
    border-radius: 12px;
    
}

table{
    width: max-content;
    position: relative;
    margin: 5px auto ;
}

#map{
    position: relative;
    width: 300px;
    height: 300px;
    left: 25px;
}

.current-day{
    padding: 5px;
}

.day-forcast{
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
}

.weatherTime-Card{
    width: 115px;
    height: 250px;
    background-color: rgb(229, 229, 233);
    padding: 10px;
    border-radius: 12px;

}

.weather-history{
    position: relative;
    top: -520px;
    left: 140px;
    width: 1170px;
    height:400px;
    background-color: rgb(83, 238, 186);
    border-radius: 12px;
    padding: 20px;
    
}



